[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=XXXX
Group=www-data
WorkingDirectory=/home/oction/XXXXX
ExecStart=/usr/local/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          ApiServer.wsgi:application

[Install]
WantedBy=multi-user.target
