body {
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.letras_lineas {
    text-align: left;
    vertical-align: middle;
    font-size: medium;
}

.letras_cabecera {
    text-align: left;
    vertical-align: middle;
}

.letras_about {
    text-align: left;
    vertical-align: middle;
    font-size: medium;
}

.imagen {
    margin-left: 30px;
    margin-top: 30px;
    object-fit: contain;
    opacity: 1;
}

.letras_img_ppal {
    text-align: left;
    font-size: 1.5cm;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.sub_letras_img_ppal {
    text-align: left;
    font-size: 0.6cm;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.letra_footer {
    font-size: medium;
}
